In [1]:
import pandas as pd
import numpy as np

input_name = "hmda_all_bulk.csv"

output_name_f = "hmda_all_features_final.csv" # will contain demographics, nans
output_name_t = "hmda_all_target_final.csv"

In [2]:
features_df = pd.read_csv(input_name)

In [3]:
m, n = features_df.shape
m, n

(140191882, 42)

In [4]:
# empty on 2017; easiest to just drop
del features_df['sequence_number']

In [5]:
features_df.columns

Index(['as_of_year', 'agency_code', 'loan_type', 'property_type',
       'loan_purpose', 'owner_occupancy', 'loan_amount_000s', 'preapproval',
       'action_taken', 'msamd', 'state_abbr', 'state_code', 'county_code',
       'census_tract_number', 'applicant_ethnicity', 'co_applicant_ethnicity',
       'applicant_race_1', 'applicant_race_2', 'applicant_race_3',
       'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1',
       'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4',
       'co_applicant_race_5', 'applicant_sex', 'co_applicant_sex',
       'applicant_income_000s', 'purchaser_type', 'denial_reason_1',
       'denial_reason_2', 'denial_reason_3', 'edit_status', 'population',
       'minority_population', 'hud_median_family_income',
       'tract_to_msamd_income', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'has_co_applicant'],
      dtype='object')

In [7]:
features_df.columns[features_df.isna().any()].tolist() # demo; denial_reason; has_co_applicant

['applicant_race_2',
 'applicant_race_3',
 'applicant_race_4',
 'applicant_race_5',
 'co_applicant_race_2',
 'co_applicant_race_3',
 'co_applicant_race_4',
 'co_applicant_race_5',
 'denial_reason_1',
 'denial_reason_2',
 'denial_reason_3',
 'has_co_applicant']

In [8]:
# for dGrab, remove denial reasons; keep one for df shape
del features_df['denial_reason_2']
del features_df['denial_reason_3']

# Split off target

In [10]:
target_df = features_df[['action_taken',
                         'denial_reason_1']]

In [11]:
target_df.to_csv(output_name_t, index=False)

In [12]:
target_df.head()

   action_taken  denial_reason_1
0             1              NaN
1             6              NaN
2             1              NaN
3             6              NaN
4             1              NaN

In [13]:
del target_df['denial_reason_1']

In [14]:
target_df.head()

   action_taken
0             1
1             6
2             1
3             6
4             1

In [15]:
target_df.to_csv("hmda_all_target_action_final.csv", index=False)

In [16]:
del features_df['denial_reason_1']
del features_df['action_taken']

In [17]:
features_df.columns[features_df.isna().any()].tolist() # demo; has_co_applicant

['applicant_race_2',
 'applicant_race_3',
 'applicant_race_4',
 'applicant_race_5',
 'co_applicant_race_2',
 'co_applicant_race_3',
 'co_applicant_race_4',
 'co_applicant_race_5',
 'has_co_applicant']

In [18]:
# drop co_applicant race 2-5
# drop applicant race 2-5

del features_df['applicant_race_2']
del features_df['applicant_race_3']
del features_df['applicant_race_4']
del features_df['applicant_race_5']
del features_df['co_applicant_race_2']
del features_df['co_applicant_race_3']
del features_df['co_applicant_race_4']
del features_df['co_applicant_race_5']

In [19]:
features_df.columns[features_df.isna().any()].tolist() # has_co_applicant

['has_co_applicant']

In [20]:
print(len(features_df.loc[features_df['has_co_applicant'].isna()].index))

11870332

In [21]:
features_df.to_csv(output_name_f, index=False)

In [22]:
m, n = features_df.shape
m, n

(140191882, 29)