In [1]:
import pandas as pd
import numpy as np

In [2]:
state = "FL"
year = "2017"
path_root = "../data/{state}/".format(state=state)

path = "{pr}{state}_all.csv".format(pr=path_root, state=state)

df = pd.read_csv(path)

m, n = df.shape
m, n

/home/cooper/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(1018771, 44)

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,...,denial_reason_3,rate_spread,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
0,NaN,Unnamed: 0,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,...,denial_reason_3,rate_spread,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
1,NaN,Unnamed: 0,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,...,denial_reason_3,rate_spread,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
2,6.0,6,2017,9,1,1,2,2,5.0,3,...,NaN,NaN,NaN,NaN,17107.0,70.05000305175781,58400.0,73.94000244140625,2546.0,4722.0
3,14.0,14,2017,9,1,1,1,2,329.0,2,...,NaN,NaN,NaN,NaN,8465.0,16.219999313354492,58400.0,160.89999389648438,1838.0,2805.0
4,17.0,17,2017,9,1,1,1,1,132.0,3,...,NaN,NaN,NaN,NaN,5921.0,31.479999542236328,52500.0,64.70999908447266,1125.0,2260.0

In [4]:
df.drop(df.columns[[0, 1]], axis=1, inplace=True)

In [5]:
df.head(5)

,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,...,denial_reason_3,rate_spread,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
0,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,...,denial_reason_3,rate_spread,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
1,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,...,denial_reason_3,rate_spread,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
2,2017,9,1,1,2,2,5.0,3,3,36740.0,...,NaN,NaN,NaN,NaN,17107.0,70.05000305175781,58400.0,73.94000244140625,2546.0,4722.0
3,2017,9,1,1,1,2,329.0,2,4,36740.0,...,NaN,NaN,NaN,NaN,8465.0,16.219999313354492,58400.0,160.89999389648438,1838.0,2805.0
4,2017,9,1,1,1,1,132.0,3,6,29460.0,...,NaN,NaN,NaN,NaN,5921.0,31.479999542236328,52500.0,64.70999908447266,1125.0,2260.0

In [7]:
# sometimes the join, if multiple files, is messed up; need to delte rows
#df = df.drop([0,1])
#df.head()

In [8]:
# some missing loan amount; need this
df = df.dropna(subset=['loan_amount_000s'])
m, n = df.shape
m, n

(1018769, 42)

In [9]:
df.columns[df.isna().any()].tolist()

['msamd',
 'county_code',
 'census_tract_number',
 'applicant_race_2',
 'applicant_race_3',
 'applicant_race_4',
 'applicant_race_5',
 'co_applicant_race_2',
 'co_applicant_race_3',
 'co_applicant_race_4',
 'co_applicant_race_5',
 'applicant_income_000s',
 'denial_reason_1',
 'denial_reason_2',
 'denial_reason_3',
 'rate_spread',
 'edit_status',
 'sequence_number',
 'population',
 'minority_population',
 'hud_median_family_income',
 'tract_to_msamd_income',
 'number_of_owner_occupied_units',
 'number_of_1_to_4_family_units']

In [10]:
# some missing crucial census info; remove
df = df.dropna(subset=['county_code'])
df = df.dropna(subset=['census_tract_number'])
df = df.dropna(subset=['population'])
df = df.dropna(subset=['minority_population'])
df = df.dropna(subset=['hud_median_family_income'])
df = df.dropna(subset=['tract_to_msamd_income'])
df = df.dropna(subset=['number_of_owner_occupied_units'])
df = df.dropna(subset=['number_of_1_to_4_family_units'])

m, n = df.shape
m, n

(1012629, 42)

In [11]:
df.columns[df.isna().any()].tolist()

['msamd',
 'applicant_race_2',
 'applicant_race_3',
 'applicant_race_4',
 'applicant_race_5',
 'co_applicant_race_2',
 'co_applicant_race_3',
 'co_applicant_race_4',
 'co_applicant_race_5',
 'applicant_income_000s',
 'denial_reason_1',
 'denial_reason_2',
 'denial_reason_3',
 'rate_spread',
 'edit_status',
 'sequence_number']

In [ ]:
print(df.loc[df['msamd'].isna()].index)
# keep msamd; about 7% missing it, can filter out those examples or remove column, leave up to user

print(df.loc[df['applicant_income_000s'].isna()].index)
# keep applicant_income, but note that about 12% missing this; can also leave up to user

In [ ]:
print(df.loc[~df['rate_spread'].isna()].index)
# almost everything is missing rate spread; delete it
del df['rate_spread']

In [ ]:
print(df.loc[~df['sequence_number'].isna()].index)
# almost everything is missing sequence_number; delete it
del df['sequence_number']

In [ ]:
df.columns[df.isna().any()].tolist()

In [ ]:
df.columns[~df.isna().any()].tolist()

In [ ]:
print(df.loc[~df['edit_status'].isna()].index)
# almost everything is missing rate spread; delete it
del df['edit_status']

In [ ]:
df.columns[df.isna().any()].tolist() 
# expect only the msamd, income, and protected stuff na now; 
# if anything else, additional filtering logic needs t obe added

In [ ]:
# filter to only include non-missing (wrt lar codes) protected attribute info
df = df.loc[df['applicant_sex'].isin([1, 2])]
df = df.loc[df['applicant_race_1'].isin([1,2,3,4,5])]
df = df.loc[df['applicant_ethnicity'].isin([1,2])]

# filter out withdrawn applications,loans purchased by institutions; codes 4 and 6
df = df.loc[~df['action_taken'].isin([4,6])]
m, n = df.shape
m, n

In [ ]:
target_df = df[['action_taken',
                'denial_reason_1', 
                'denial_reason_2', 
                'denial_reason_3']]
target_df.head()

In [ ]:
base_out = "{pr}hmda_{yr}_{state}_".format(pr=path_root, yr=year, state=state)

target_path = "{b}target_final.csv".format(b=base_out)
target_df.to_csv(target_path)

In [ ]:
del df['denial_reason_1']
del df['denial_reason_2']
del df['denial_reason_3']
del df['action_taken']

In [ ]:
df.columns[df.isna().any()].tolist()

In [ ]:
protected_attr_cols = ['applicant_ethnicity',
                       'applicant_race_1',
                       'applicant_race_2',
                       'applicant_race_3',
                       'applicant_race_4',
                       'applicant_race_5',
                       'applicant_sex',
                       'co_applicant_ethnicity',
                       'co_applicant_race_1', 
                       'co_applicant_race_2', 
                       'co_applicant_race_3', 
                       'co_applicant_race_4', 
                       'co_applicant_race_5',
                       'co_applicant_sex']

g_df = df[protected_attr_cols]
g_df.head()

In [ ]:
g_path = "{b}protected_final.csv".format(b=base_out)
g_df.to_csv(g_path)

In [ ]:
for c in protected_attr_cols:
    del df[c]

In [ ]:
df.columns[df.isna().any()].tolist() # should be msamd, applicant_income

In [ ]:
features_path = "{b}features_final.csv".format(b=base_out)
df.to_csv(features_path)

In [ ]:
m, n = df.shape
m, n

In [ ]:
m, n = g_df.shape
m, n

In [ ]:
m, n = target_df.shape
m, n
target_df